@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(255, 212, 212);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url(https://res.cloudinary.com/aedit/image/upload/ar_1.7777777777777777,c_fill/ar_1.7777777777777777,c_fill,dpr_auto,f_auto,q_auto:good,w_auto/v1/contentful/3tGusKJZKyEubZIa8kMms/c26741f510051a876c6acdc6794f1807/shutterstock_1224470146__1_.jpg);
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

